
 <div class="row" ng-controller="hoursController" id="aboutPartial">
      <div class="box">
        <div class="col-lg-12">
          <hr>
          <h2 class="intro-text text-center">
            <strong>About Artistica Gallery</strong>
          </h2>
          <hr>
        </div>
        <div class="col-md-6">
          <img class="img-responsive img-border-left" src="http://s3-media2.fl.yelpcdn.com/bphoto/cqx2bgNDGrfQ_CPR0lh51g/ls.jpg" alt="" height="400" width="550">
        </div>
        <div class="col-md-6">
          <p>At Artistica Gallery we strive to bring our customers nothing but the <i>finest</i> art that Michigan has to offer.</p>
          <p>We offer gifts by local and regional Michigan artists. To find our gallery, look for the red door by the village clock in downtown historic Dexter.</p>
          <strong>Gallery Hours</strong>
          <p>
            <div ng-repeat="thing in hours">
              <b>{{keys(thing)[0]}}</b>: {{thing[keys(thing)[0]].open}} - {{thing[keys(thing)[0]].close}}
            </div>
            
            </p>
            <br/>
            <p>
              <small> Check our announcements for special hours </small>
            </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <hr>
          <h2 class="intro-text text-center">
            <strong>Our Team</strong>
            
          </h2>
          <hr>
        </div>
        <div class="col-sm-4 text-center effectfront">
          <a ng-click="tabLocation('partner1', $event)">
            <img class="" src="img/Pam.jpg" alt="" height="200" width="200">
          </a>
          <h3>Pam O'hara
            <br>
            <small>Partner</small>
          </h3>
        </div>
        <div class="col-sm-4 text-center effectfront">
          <a ng-click="tabLocation('partner2', $event)">
            <img class="" src="img/SusansPic.jpg" alt="" height="200" width="200">
          </a>
          <h3>Susan Davis
            <br>
            <small>Partner</small>
          </h3>
        </div>
        <div class="col-sm-4 text-center effectfront">
          <a ng-click="tabLocation('partner3', $event)">
            <img class="" src="img/WandasPic.jpg" alt="" height="200" width="200">
          </a>
          <h3>Wanda Nicholson
            <br>
            <small>Partner</small>
          </h3>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>