
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Wanda Nicholson</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img src="img/WandasPic.jpg" alt="" width="400" height="350">
                </div>
                <div class="col-md-6">
                  <p>Wanda Nicholson has been a Jewelery Artist for the last fifteen years. She has created a unique style with 14kt rolled gold and silver
                    incorporating natural stones, chrysalis and fine gemstones. Over the years her jewelery has been featured in local shows, fine art galleries
                    and festivals throughout the country and because of this she has her work now being worn throughout the world. Wanda calls her process art jewlery </p>
                  <p> Wanda uses an uncommon and unique process called wire wrapping, which makes each piece one of a kind. Her work is a precious addition to any jewelery box.</p>



                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
          <div class="box">
            <div class="col-lg-12">
              <hr>
              <h2 class="intro-text text-center">
                <strong>Our Team</strong>
              </h2>
              <hr>
            </div>
            <div class="col-sm-4 text-center effectfront">
              <a ng-click="tabLocation('partner1', $event)">
                <img class="" src="img/Pam.jpg" alt="" height="200" width="200">
              </a>
              <h3>Pam O'hara
                <br>
                <small>Partner</small>
              </h3>
            </div>
            <div class="col-sm-4 text-center effectfront">
              <a ng-click="tabLocation('partner2', $event)">
                <img class="" src="img/SusansPic.jpg" alt="" height="200" width="200">
              </a>
              <h3>Susan Davis
                <br>
                <small>Partner</small>
              </h3>
            </div>
            <div class="col-sm-4 text-center effectfront">
              <a ng-click="tabLocation('partner3', $event)">
                <img class="" src="img/WandasPic.jpg" alt="" height="200" width="200">
              </a>
              <h3>Wanda Nicholson
                <br>
                <small>Partner</small>
              </h3>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>