

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>

                    <h2 class="intro-text text-center">About
                        <strong>Susan Davis</strong>

                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img src="img/SusansPic.jpg" alt="" width="400" height="350">
                </div>
                <div class="col-md-6">
                  <p> I first learned to sew in 7th grade Home Economics and was pleasantly surprised when the cotton pleated skirt I had sewn did not
                     fall apart in my mother's wringer washer! I continued honing my skills using my mom's help and advice and her sturdy old Singer.
                      After years of sewing most of my clothes, bedspreads,curtains, slip covers, etc., I eventually burned out and
                      put my sewing machine in the back of the closet.</p>

                      <p> Around the year 2000 my fingers started itching to sew again. I bought a new machine and some quilting books and took some interesting classes and never looked
                        back. Currently I am not interested in sewing clothes, but do find great pleasure in sewing almost everything else. I find sewing delightfullly creative and find using
                        patterns as well as designing my own creations equally fun and challenging </p>
                  <p > Although SE Michigan has many high-quality  quilt shops, I am very drawn to working with recycled jeans, silk ties and men's
                    shirts--I often combine them and love the effect. I am also fond of using found metal objects in my wall hangings.</p>
                  <p>
                  In closing, I am blessed to have had a mother who taught and encouraged me and to have found Artistica who initially contracted me as
                  a guest artist and in 2014 welcomed me as a partner. </p>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>


          <div class="box">
            <div class="col-lg-12">
              <hr>
              <h2 class="intro-text text-center">
                <strong>Our Team</strong>
              </h2>
              <hr>
            </div>
            <div class="col-sm-4 text-center">
              <a ng-click="tabLocation('partner1', $event)">
                <img class="" src="img/Pam.jpg" alt="" height="200" width="200">
              </a>
              <h3>Pam O'hara
                <br>
                <small>Partner</small>
              </h3>
            </div>
            <div class="col-sm-4 text-center">
              <a ng-click="tabLocation('partner2', $event)">
                <img class="" src="img/SusansPic.jpg" alt="" height="200" width="200">
              </a>
              <h3>Susan Davis
                <br>
                <small>Partner</small>
              </h3>
            </div>
            <div class="col-sm-4 text-center">
              <a ng-click="tabLocation('partner3', $event)">
                <img class="" src="img/WandasPic.jpg" alt="" height="200" width="200">
              </a>
              <h3>Wanda Nicholson
                <br>
                <small>Partner</small>
              </h3>

            </div>
            <div class="clearfix"></div>
          </div>
        </div>
