 <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <hr>
                    <h2>
                        Company Gallery    <!--big headline-->
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center"> <!--div section for Main/Featured Art gallery-->
                  <div id="cp_widget_e09ec73e-a3b3-4ef0-9fa9-857fd015159c">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_e09ec73e-a3b3-4ef0-9fa9-857fd015159c"; cpo["_fid"] = "AUJAtI9m1M3y";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting for Business</a> solution.<span>New Gallery 2015/12/9</span></noscript>

              <!--  <div id="cp_widget_fb6b8581-8f44-45d9-a99f-3b4e90f3b5c8">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_fb6b8581-8f44-45d9-a99f-3b4e90f3b5c8"; cpo["_fid"] = "AICAOBtOeecJ";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting for Business</a> solution.<span>Artistica</span><span>my pictures </span><span>Banana</span><span>This is my Banana</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 741</span><span>height</span><span> 744</span><span>Cat</span><span>This is family cat</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 1024</span><span>height</span><span> 768</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 269</span><span>height</span><span> 395</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 3120</span><span>height</span><span> 4160</span></noscript> -->


                    </div>



                <div class="col-lg-12 text-center">
                </div>
            </div>
        </div>